@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap');

body {
  background-color: #f9fcff;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

h1 {
  font-size: 48px;
}

header {
  background: #004C93;
}

.header {  
  margin: 0 auto;
  max-width: 1197px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 24px;
}

.header__logo {
  display: block;
  width: 150px;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.header__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header__item {
  margin-left: 24px;
}

.header__link {
  text-decoration: none; 
  color: #fff;
}

.header__menu {
  display: none;
}

/* hiddenMenu */
.hiddenMenu {
  display: none !important;
}

/* by screens size */
@media (max-width: 930px) {
  .header__item {
    margin-left: 16px;
  }
  
}

@media (max-width: 860px) {
  .header__menu {
    display: block ;
    height: 48px;
    width: 48px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .header__nav {
    display: none;
  }

  .hiddenMenu {
    display: flex;
  }

  .hiddenMenu ul {
    list-style: none;
    width: 100%;    
    padding-right: 24px;
  }
  
  .hiddenMenu li {
    text-align: right;
    padding: 16px;
  }

  .hiddenMenu li:hover {
    background: #ffffff33;
    border-radius: 8px;
  }

}

/* main */
.pageSection {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 24px;
  align-items: center;
  flex-wrap: wrap;
}

section:nth-child(even ) {
  background: #ffffff;
}

.myPhoto img {
  max-width: 400px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 8px -8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 10px 8px -8px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 10px 8px -8px rgba(34, 60, 80, 0.2);
}

/* about me section */
.sectionHeader {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.aboutMeContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutNeContent__item {
  height: 264px;
  width: 200px;
  border: 1px solid #89a5c2;
  padding: 8px 16px;
  border-radius: 8px;
  background: #f9fcff;
}

.aboutNeContent__item:nth-child(even) {
  margin-top: 64px;
}

@media (max-width: 530px) {
  
  .aboutNeContent__item {
    width: 100% !important;
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 16px;
    padding: 0;
  }

  .aboutNeContent__item:nth-child(even) {
    margin-top: 0;
  }

}

.itemTitle {
 font-size: 120px;
 font-weight: 700;  
 color: 004C93; 
}

/* калькулятор */
.calculator {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.calculator input {
  padding: 8px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #004C93;
}

.calculator select {
  padding: 8px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #004C93;
}

.calculator button {
  border-radius: 5px;
  background: #004C93;
  border: none;
  padding: 12px 8px;
  color: #fff;
  font-size: 16px;
}

/* troubles */
.troubles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.troubles .itemTitle {
  text-align: center;
}


/* moood */
.moodImage {
  margin: 0 auto;
}
.moodImage img{
  border-radius: 8px;
  /* align-self: center; */
  width: 100%;
  
}


/* footer */

footer {
  background: #004C93;
}

.footer {
  display: flex;
  margin: 0 auto;
  max-width: 1197px;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 0 24px;
}

